.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 400px;
    margin:auto 0 20px;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .slide {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
    position: relative;
}

.iosSlider .slider .slide .caption {
	position: absolute;
    background: url(../images/caption.png);
    color:white;
	left: 0;
	bottom: 0;
    padding:20px;
    width: 920px;
}

.iosSlider .slider .slide .caption p,
.iosSlider .slider .slide .caption h2 {
    color:white;
    float:left;
    width:80%;
    display:block;
    margin-bottom:0;
}
.iosSlider .slider .slide .caption .button {
    float:right;
    display:block;
}

/* 
	Bullets and thumbnails navigation	
*/
.iosSlider .sliderNavi {
    position: absolute;
    right:20px;
    top:20px;
}
.iosSlider .sliderNavi .naviItem {	
	background-color: transparent;
	background-image: url(../images/controls-sprite.png);
	background-position: top;
	margin-left:10px;
    display: inline-block;
    text-indent: -9999px;
    float: left;
	width:16px;
	height:16px;		
}
/* Current bullet */
.iosSlider .sliderNavi .naviItem.selected {	
	background-image: none;
}

.iosSlider .prev,
.iosSlider .next
{	
    display: block;
    position: absolute;
    z-index: 25;
	width: 58px;
	height: 58px;
	top:44%;	
    cursor: pointer;	
}

.iosSlider .prev {
    background: transparent url(../images/slide_prev.png) no-repeat 0 0;
}
.iosSlider .next {
    background: transparent url(../images/slide_next.png) no-repeat 0 0;
}
.iosSlider .prev:hover, 
.iosSlider .prev:focus,
.iosSlider .next:hover,
.iosSlider .next:focus {
    background-position: -56px 0;
}
.iosSlider .prev:active,
.iosSlider .next:active {
    background-position: -112px 0;
    
}

/* left arrow */
.iosSlider .prev {
	left: 0;	
}
/* right arrow */
.iosSlider .next {
	right: 0;
}

/* Carousel */

.carousel {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
    height:450px;
    margin:auto 0 0;
}

.carousel .slider {
	width: 100%;
    height: 100%;
}


/* Carousel Related */


.product-slider .prev,
.product-slider .next
{	
    width: 20px;
    height: 25px;
    color: white;
    font-size: 16px;
    padding: 3px 5px;
    -webkit-transition: 0.2s ease-in-out, background, border-color;
    -moz-transition: 0.2s ease-in-out, background, border-color;
    -ms-transition: 0.2s ease-in-out, background, border-color;
    -o-transition: 0.2s ease-in-out, background, border-color;
    transition: 0.2s ease-in-out, background, border-color;
    display: block;
    position: absolute;
    z-index: 25;
    cursor: pointer;
	top:15px;		
}

.product-slider .next {
    background: #dbdbdb url(../images/qty_arrow_right_disabled.png) no-repeat center center;
}
.product-slider .next:hover{ background: url(../images/qty_arrow_right_disabled-white.png) no-repeat center center;}
.product-slider .prev:hover{ background: url(../images/qty_arrow_left_disabled-white.png) no-repeat center center;}
.product-slider .prev {
    background: #dbdbdb url(../images/qty_arrow_left_disabled.png) no-repeat center center;
}
.product-slider .prev:hover, 
.product-slider .prev:focus,
.product-slider .next:hover,
.product-slider .next:focus {
    background-color: #FF4A4A;

}

.product-slider .prev:active,
.product-slider .next:active {
    
}
.widget_special_offers .product-slider .prev, .widget_special_offers .product-slider .next{

}

.next.disabled,
.prev.disabled {
    cursor:default!important;
}
/* left arrow */
.product-slider .prev {
	right: 36px;	
}
/* right arrow */
.product-slider .next {
	right: 0;
}
/* Media */

.product-slider .prev::selection{background: transparent;}
.product-slider .next::selection{background: transparent;}
.views-gallery {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
    height:102px;
    margin:auto 0 15px;
}

.more-views .slide {
	width: 70px;
}

.more-views-arrow.prev {
    position: absolute;
    z-index:1;
    left: 0;
	bottom: -2px;
	height: 105px;
	width: 23px;
    background-image: url(../images/product-big-arrow-sprite.png);
    background-repeat: no-repeat;
	background-position: -7px -127px;

}

.more-views-arrow.next {
    position: absolute;
    z-index:1;
    right: 0;
	bottom: -2px;
	height: 105px;
	width: 23px;
    background-image: url(../images/product-big-arrow-sprite.png);
    background-repeat: no-repeat;
	background-position: -49px -127px;
   
}
.more-views-arrow.prev:hover {
	background-image: url(../images/product-big-arrow-sprite.png);
    background-repeat: no-repeat;
	background-position: -7px -246px;
	background-color: transparent !important;
}

.more-views-arrow.next:hover {
	 background-image: url(../images/product-big-arrow-sprite.png);
    background-repeat: no-repeat;
	background-position: -49px -246px;
	background-color: transparent !important;
}

.more-views-arrow.prev,
.more-views-arrow.next {
	opacity: 1;
	-webkit-transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
	
}

 .more-views-arrow.prev.disabled{
    background-image: url(../images/product-big-arrow-sprite.png);
	background-repeat: no-repeat;
	background-position: -7px -7px;
    background-color: transparent !important;
}

 .more-views-arrow.prev.disabled:hover{
      background-image: url(../images/product-big-arrow-sprite.png) !important;
    background-repeat: no-repeat;
    background-position: -7px -7px !important;
    background-color: transparent !important;
 }
 .more-views-arrow.next.disabled, .more-views-arrow.next.disabled:hover{
	     background-image: url(../images/product-big-arrow-sprite.png) !important;
	background-repeat: no-repeat;
	background-position: -49px -7px !important;
    background-color: transparent !important;
 }
.more-views-arrow.prev:hover, 
.more-views-arrow.prev:focus,
.more-views-arrow.next:hover,
.more-views-arrow.next:focus {
}

.more-views-arrow.prev:active,
.more-views-arrow.next:active {
    
}


.deactive .more-views-arrow.prev,
.deactive .more-views-arrow.next {
    display:none;
}

/* left arrow */
.more-views-arrow.prev {
	left: 0;
}

/* right arrow */
.more-views-arrow.next {
	right: 0;
}


/* Carousel Related */


.related-arrow.prev,
.related-arrow.next
{	
    width: 23px;
    height: 25px;
    color: white;
    font-size: 16px;
    padding: 3px 5px;
    -webkit-transition: 0.2s ease-in-out, background, border-color;
    -moz-transition: 0.2s ease-in-out, background, border-color;
    -ms-transition: 0.2s ease-in-out, background, border-color;
    -o-transition: 0.2s ease-in-out, background, border-color;
    transition: 0.2s ease-in-out, background, border-color;
    display: block;
    position: absolute;
    z-index: 25;
    cursor: pointer;
	top:15px;		
}

.related-arrow.next {
    background: #CCC url(../images/qty_arrow_right_disabled-white.png) no-repeat center center;
}
.related-arrow.prev {
    background: #CCC url(../images/qty_arrow_left_disabled-white.png) no-repeat center center;
}
.related-arrow.prev:hover,
.related-arrow.prev:focus,
.related-arrow.next:hover,
.related-arrow.next:focus {
    background-color: #FF4A4A;
}

.related-arrow.prev:active,
.related-arrow.next:active {
    
}

.next.disabled{
    background: #fafafa url(../images/qty_arrow_right_disabled.png) no-repeat 11px center;
}

.prev.disabled{
    background: #fafafa url(../images/qty_arrow_left_disabled.png) no-repeat center center;
}

.prev.disabled:hover{
   background: #fafafa url(../images/qty_arrow_left_disabled.png) no-repeat center center !important;
}

.next.disabled:hover{
     background: #fafafa url(../images/qty_arrow_right_disabled.png) no-repeat 11px center !important;
}

.next.disabled,
.prev.disabled {
    cursor:default!important;
}

.next.disabled:hover,
.prev.disabled:hover{

}

.slide-feature {
	display: block;
    width:160px;
    height:160px;
    background-image: url(../images/assets/slider/icon_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.slide-feature.feature-responsive {
    background-position: 0 0;
}
.slide-feature.feature-responsive:hover {
    background-position: 0 -160px;
}

.slide-feature.feature-shortcodes {
    background-position: -160px 0;
}
.slide-feature.feature-shortcodes:hover {
    background-position: -160px -160px;
}

.slide-feature.feature-admin-panel {
    background-position: -320px 0;
}
.slide-feature.feature-admin-panel:hover {
    background-position: -320px -160px;
}

.slide-feature.feature-ajax {
    background-position: -480px 0;
}
.slide-feature.feature-ajax:hover {
    background-position: -480px -160px;
}
.tp-caption iframe{width: 480px !important;}
.tp-leftarrow.default, .tp-rightarrow.default{-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;}
.tp-leftarrow.default{background: transparent url(../images/big_slider_arrow_left.png) no-repeat 17px center;}
.tp-rightarrow.default{background: transparent url(../images/big_slider_arrow_right.png) no-repeat 22px center;}
.tp-rightarrow.default:hover{background-position: 22px center !important;}
.tp-leftarrow.default:hover{background-position: 17px center !important;}
.tp-rightarrow.default {
top: 50%;
right: 0;
z-index: 100;
cursor: pointer;
position: absolute;
width: 56px;
height: 70px;
margin-left: 0;
margin-top: -35px;
}
.tp-leftarrow.default {
top: 50%;
z-index: 100;
cursor: pointer;
position: absolute;
width: 56px;
height: 70px;
margin-left: 0;
margin-top: -35px;
}


@media (min-width: 768px) and (max-width: 979px) {
	.slide-feature {
		zoom:0.85;
	}
    .tp-caption iframe{width: 372px !important;}
}


@media (max-width: 767px) {
	.slide-feature {
		zoom:0.55;
	}
    .tp-caption iframe{width: 250px !important;}
}


@media (max-width: 479px) {
	.slide-feature {
		zoom:0.35;
	}
    .tp-caption iframe{width: 150px !important;}
}


/*   Flex Slider CSS */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav Variant 1 */
.flex-direction-nav {*height: 0;}
.nav-type-large .flex-direction-nav a {width: 60px; height: 100%; margin: 0; display: block; position: absolute; top: 0; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.nav-type-large .flex-direction-nav a:hover{background-color: rgba(255, 255, 255, 0.3);}
.nav-type-large .flex-direction-nav .flex-next {background: url(../images/direction_nav_right.png) no-repeat center center; right: 0; opacity: 0;}
.nav-type-large .flex-direction-nav .flex-prev {background: url(../images/direction_nav_left.png) no-repeat center center; left: 0;opacity: 0;}
.nav-type-large .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.nav-type-large .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.nav-type-large .flex-direction-nav li a.flex-next, .nav-type-large .flex-direction-nav li a.flex-prev {opacity: 0.5;}
.attachments-slider.nav-type-large:hover .flex-direction-nav li a.flex-next, .attachments-slider.nav-type-large:hover .flex-direction-nav li a.flex-prev {opacity: 1;}
.nav-type-large .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
.nav-type-large .flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-prev:hover{opacity:1;}

/* Direction Nav Variant 2 */
.nav-type-small .flex-direction-nav a {width: 40px; height: 40px; margin: 0; display: block; position: absolute; bottom: 0; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.nav-type-small .flex-direction-nav a:hover{background-color: rgba(0, 0, 0, 0.8);}
.nav-type-small .flex-direction-nav .flex-next {background: rgba(0, 0, 0, 0.8) url(../images/qty_arrow_right_disabled-white.png) no-repeat center center; right: 0; opacity: 1;}
.nav-type-small .flex-direction-nav .flex-prev {background: rgba(0, 0, 0, 0.8) url(../images/qty_arrow_left_disabled-white.png) no-repeat center center; right: 40px;opacity: 1;}
.nav-type-small .flexslider:hover .flex-next {opacity: 0.8; right: 0;}
.nav-type-small .flexslider:hover .flex-prev {opacity: 0.8; right: 40px;}
.nav-type-small .flex-direction-nav li a.flex-next, .nav-type-small .flex-direction-nav li a.flex-prev {opacity: 0.6;}

.nav-type-small .flex-direction-nav .flex-disabled, .nav-type-small .flex-direction-nav .flex-disabled:hover {opacity: .2!important; background-color: rgba(0, 0, 0, 0.8); filter:alpha(opacity=30); cursor: default;}
.nav-type-small .flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-prev:hover, .nav-type-small .flex-direction-nav li a.flex-prev:hover{opacity:1;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {

}