.no-padding {
	padding: 0 !important;
}
.home-btn, .check-cart-btn {
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	-webkit-filter: invert(100%);
					filter: invert(100%);
}
.home-btn {
	background: url(images/icons/icon-home.png) no-repeat;
}
.check-cart-btn {
	margin-right: 10px;
	background: url(images/icons/icon-add-to-cart.png) no-repeat;
}
.check-cart-btn + div {
	float: left;
	margin-top: 3px;
}
.container.header-area {
	background-color: transparent;
}

/* Slider */
#rev_slider_1_1_wrapper {
	padding-right: 15px !important;
}
#rev_slider_1_1_wrapper #rev_slider_1_1 {
	border: 1px solid #ccc;
}
#rev_slider_1_1_wrapper > div:last-child {
	right: 15px !important;
}
.home-product-grid.slider {
	position: relative;
}
.home-product-grid.slider .next {
	top: 0;
	right: 15px;
	background: url(images/qty_dark-arrow_right.png) no-repeat center center;
}
.home-product-grid.slider .prev {
	top: 0;
	right: 70px;
	background: url(images/qty_dark-arrow_left.png) no-repeat center center;
}
.home-product-grid.slider .next,
.home-product-grid.slider .prev {
	display: block;
	position: absolute;
	z-index: 25;
	padding: 3px 5px;
	width: 25px;
	height: 25px;
	color: #fff;
	font-size: 16px;
	-webkit-transition: 0.2s ease-in-out, background, border-color;
		 -moz-transition: 0.2s ease-in-out, background, border-color;
			-ms-transition: 0.2s ease-in-out, background, border-color;
			 -o-transition: 0.2s ease-in-out, background, border-color;
					transition: 0.2s ease-in-out, background, border-color;
}

.chuyen-trang-item {
	width: 100%;
	margin-bottom: 10px;;
	background-color: #fff;
	border: 1px solid #ccc;
}
.chuyen-trang-item img {
	margin: auto;
	height: 150px;
}
.chuyen-trang-item:last-child {
	margin-bottom: 0;
}

aside.widget h4 {
	margin-top: 20px;
	margin-left: -15px;
}
aside.widget ins {
	text-decoration: none;
}


/* Sidebar Right*/
.product_list_widget {
	padding: 0;
	list-style: none;
}
.product_list_widget li {
	margin-top: -1px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.product_list_widget .row div del {
	display: block;
}
.product_list_widget .widget-image img {
	width: auto !important;
	max-width: 100%;
}

/* Sticky */
.stickybar.fixed {
	position: fixed;
	top: 95px;
}
.stickybar {
	float: left;
	position: relative;
	top: 45px;
	z-index: 9;
}
.stickybar li {
	background: #fff;
	display: block;
	width: 73px;
	height: 53px;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}
.stickybar li:hover, .stickybar li.actbox {
	background: #fdd504;
	border: 1px solid #fdd504;
}
.stickybar li a {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.stickybar li.actbox a, .stickybar li:hover a {
	color: #333;
}
.stickybar li label {
	position: absolute;
	top: -5px;
	right: -15px;
	padding: 1px 8px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 12px;
	color: #999;
	background: #fff;
}


/* Home - Product*/
.home-product-grid .product {
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.home-product-grid .product-last .product {
	position: relative;
	margin-right: 0;
}
.home-product-grid .product > div {
	padding: 0 15px;
}
.home-product-grid .product .img-wrapper {
	margin-top: 10px;
}
.home-product-grid .product .product-information {
	margin: 10px 0;
	height: 145px;
}
.home-product-grid .product .product-information .add-to-card-btn {
	position: absolute;
	left: 15px;
	right: 30px;
	bottom: 30px;
}
.home-product-grid .product:hover,
.grid_pagination_block .product:hover {
	border-color: #f0f0ed;
	cursor: pointer;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
	transition: all 0.1s linear;
}
.home-product-grid .product:hover img,
.grid_pagination_block .product:hover img {
	-webkit-transform: scale(1.1);
		 -moz-transform: scale(1.1);
		  -ms-transform: scale(1.1);
			 -o-transform: scale(1.1);
					transform: scale(1.1);
}
.price ins {
	display: block;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
}
.price > span {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 50px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	border: 1px solid #ffa800;
	background-color: #ffa800;
	color: #fff !important;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

.footer-black-bg {
	margin-top: 15px;
	margin-bottom: 15px;
}
#footerlogo {
	background: url(images/logo-footer.png);
	width: 194px;
	height: 30px;
	margin: 0 0 8px 0;
}
#after_footer_logo {
	margin-left: 30px;
	padding-top: 17px;
	width: 201px;
	margin-right: -5px;
}
#after_footer_menu {
	color: #888;
}
#after_footer_payments img {
	float: right;
}
.show-up {
  color: #006fa6;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-header {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.xs-no-padding {
		padding: 0 !important;
	}
	.xs-no-margin {
		margin: 0 !important;
	}
	.navbar {
		min-height: initial !important;
	}
	.nav-bar-xs > div {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#searchform .field {
		float: right;
		margin-top: 0 !important;
	}
	#searchform {
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
	}
	#rev_slider_1_1_wrapper {
		padding-right: 0 !important;
	}
	#rev_slider_1_1_wrapper > div:last-child {
		right: 0 !important;
	}
	.home-product-grid .product > div {
		padding: 0 10px;
	}
	.home-product-grid .product .img-wrapper {
		margin-top: 5px;
	}
	.home-product-grid .product .product-information {
		margin: 5px 0;
		height: 145px;
	}
	.home-product-grid .product .product-information .add-to-card-btn {
		left: 10px;
		right: 10px;
		bottom: 10px;
	}
	.price > span {
		top: 5px;
		right: 5px;
	}
}
